{% extends 'base.html.twig' %}
{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
                <div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Electronics</li>
                    </ol>
                </div>
                <!-- /.div -->
                <div class="row">
                    <div class="btn-group alg-right-pad">
                        <button type="button" class="btn btn-default"><strong>{{ products|length}}  </strong>items</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sort Products &nbsp;
      <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">By Price Low</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Price High</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Popularity</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                {% for product in products %}
                <div class="row">
                    <div class="col-md-4 text-center col-sm-6 col-xs-6">
                        <div class="thumbnail product-box">
                            <img src={{ product.image }} alt="" />
                            <div class="caption">
                                <h3><a href="#">{{ product.name }}</a></h3>
                                <p>Price : <strong>{{ product.price }} DT</strong>  </p>
                                <p>Description : {{ product.description }}</p>
                                <p><a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary" role="button">See Details</a>
                                <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success" role="button">Edit</a>
                                </p>
                            </div>
                        </div>
                    </div>
                   {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </div>
        
                
                <p><a href="{{ path('product_new') }}" class="btn btn-danger" role="button">Create New</a></p>
{% endblock %}
